/*
 * Animate
 */
.animate {
  animation: {
    duration: $base-animation-duration;
    fill-mode: both;
  }

  // Faster
  @include modifier('faster') {
    animation-duration: $base-animation-duration * 0.5;
  }

  // Fast
  @include modifier('fast') {
    animation-duration: $base-animation-duration * 0.75;
  }

  // Slow
  @include modifier('slow') {
    animation-duration: $base-animation-duration * 1.25;
  }

  // Slower
  @include modifier('slower') {
    animation-duration: $base-animation-duration * 1.5;
  }

  // Infinite
  @include modifier('infinite') {
    animation-iteration-count: infinite;
  }

  // Pulse
  @include modifier('pulse') {
    animation: {
      name: pulse;
      timing-function: ease-in-out;
    }
  }
}

// Pulse
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
