/**
 * Reboot
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Document
html {
  box-sizing: border-box;

  -webkit: {
    text-size-adjust: 100%;
    tap-highlight-color: rgba($color-black, 0);
  }
}

// Body
body {
  margin: 0;
  font: {
    family: 'Montserrat', sans-serif;
    size: $body-font-size;
    weight: $body-font-weight;
  }
  line-height: $body-line-height;
  color: $body-color;
  background-color: $body-bg-color;
}

// Links
a {
  text-decoration: $link-decoration;

  @include on-event {
    text-decoration: $link-hover-decoration;
  }
}

// Headings
%heading {
  font: {
    family: 'Mariupol', sans-serif;
    weight: $headings-font-weight;
  }
  line-height: $headings-line-height;
  color: $headings-color;
  margin: {
    top: 0;
    bottom: 10px;
  }
}

h1 {
  @extend %heading;

  font-size: $h1-font-size;
}

h2 {
  @extend %heading;

  font-size: $h2-font-size;
}

h3 {
  @extend %heading;

  font-size: $h3-font-size;
}

h4 {
  @extend %heading;

  font-size: $h4-font-size;
}

h5 {
  @extend %heading;

  font-size: $h5-font-size;
}

h6 {
  @extend %heading;

  font-size: $h6-font-size;
}

// Paragraphs
p {
  margin: {
    top: 0;
    bottom: 10px;
  }
}

// Images and Content
img,
svg {
  vertical-align: middle;
}

// List
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
