/*
 * Header
 */
.site-header {
  width: 100vw;
  padding: {
    top: 10px;
    bottom: 10px;
  }
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;

  // Container
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // Brand
  @include element('brand') {
    background: image('logo-light-new.svg') no-repeat;
    background-size: contain;
    width: 230px;
    height: 60px;

    font-size: 8px;
    color: $color-white;
    text: {
      transform: uppercase !important;
      decoration: none !important;
    }
    padding: 37px 0 0 67px;

    @include media-breakpoint('mobile') {
      background-image: image('logo-white-small.svg');
      width: 120px;
      height: 52px;

      span {
        display: none;
      }
    }
  }

  // Phone
  @include element('phone') {
    color: $color-white;
    display: flex;

    // Icon
    @include element('icon') {
      margin-right: 8px;

      @include media-breakpoint('mobile') {
        display: none;
      }
    }

    // Number
    @include element('number') {

      a {
        color: $color-white;
        text-decoration: none;
        font: {
          size: $s2-font-size;
          family: 'Mariupol', sans-serif;
        }
        line-height: 28px;
        margin-bottom: 0;
        display: block;

        @include media-breakpoint('mobile') {
          font-size: $s3-font-size;
        }
      }

      span {
        display: inline-block;

        text-transform: lowercase;
        font-size: 12px;
        line-height: 18px;
        background-color: #82AD4C;
        padding: 0 8px;
      }
    }
  }
}
