/*
 * Preloader
 */
.site-preloader {
  background-color: rgb(244, 245, 246);
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  // Logo
  @include element('logo') {
    background: image('logo.svg') no-repeat;
    background-size: cover;
    width: 128px;
    height: 128px;
  }
}
