/*
 * Intro
 */
.intro {
  position: relative;
  min-height: 640px;
  height: 100vh;

  .container {
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
  }

 @include element('text') {
    color: #fff;
    text-shadow: 0 0 1px rgb(37, 40, 41);

   @include media-breakpoint('mobile') {
     h1 {
       font-size: $h3-font-size;
     }
   }
  }

  // Video
  @include element('video') {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/*
 * Section
 */
.section {
  //min-height: 100vh;
  padding: 120px 0 30px;

  @include media-breakpoint('tablet') {
    padding: 30px 0 30px;
  }

  @include media-breakpoint('mobile') {
    padding: 30px 0 30px;
  }

  // Title
  @include element('title') {
    text-align: center;
    margin-bottom: 100px;

    @include media-breakpoint('tablet') {
      font-size: $h2-font-size;
      margin-bottom: 20px;
    }

    @include media-breakpoint('mobile') {
      font-size: $h2-font-size;
      margin-bottom: 20px;
    }
  }

  @include element('text') {
    margin-bottom: 120px;

    @include media-breakpoint('tablet') {
      font-size: $s5-font-size;
      margin-bottom: 50px;
    }

    @include media-breakpoint('mobile') {
      margin-bottom: 20px;
    }
  }

  @include modifier('faded-bg') {
    background-color: $color-faded-light;
  }
}

/*
 * Services
 */
.services {
  @include element('image') {
    width: 100%;
    object-fit: contain;
    transition-duration: $animation-duration * 2;

    &:hover {
      transform: scale(1.05);
      box-shadow: $base-box-shadow;
    }
  }

  @include element('list-wrapper') {
    @include flex-col-center;
    align-items: flex-start;
  }

  @include element('list-item') {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    transition-duration: $animation-duration;

    &:hover {
      transform: scale(1.05);
    }
  }

  @include element('list-item_icon') {
    background: url(/assets/images/icons/success_1.svg) no-repeat center;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    display: inline-block;

    @include media-breakpoint('tablet') {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }

    @include media-breakpoint('mobile') {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
  }

  @include element('list-item_text') {
    width: fit-content;

    @include media-breakpoint('tablet') {
      font-size: $s5-font-size;
    }
  }
}

/*
 * Advantages
 */
.advantages {
  .card {
    transition-duration: $animation-duration;

    @include media-breakpoint('tablet') {
      margin: 10px;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: $base-box-shadow;
    }

    &__title {
      margin-bottom: 0;

      @include media-breakpoint('tablet') {
        font-size: $h3-font-size;
      }
    }

    &__text {
      @include media-breakpoint('tablet') {
        font-size: $s5-font-size;
      }
    }
  }
}

/*
 * Characteristics
 */
.characteristics {
  .card {
    transition-duration: $animation-duration;

    @include media-breakpoint('tablet') {
      margin: 10px;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: $base-box-shadow;
    }
  }

  @include element('image-section') {
    @include media-breakpoint('mobile') {
      display: none;
    }
  }

  @include element('image') {
    background-color: $color-white;
    width: 100%;
    height: 260px;
    padding: 20px;
    object-fit: contain;
  }

  @include element('list-wrapper') {
    @include flex-col-center;
    align-items: flex-start;
  }

  @include element('list') {
    width: 100%;
    margin-left: 30px;

    @include media-breakpoint('tablet') {
      margin-left: 0;
    }
  }

  @include element('list-item') {
    background-color: $color-white;
    padding: 15px;
    transition-duration: $animation-duration;

    @include media-breakpoint('tablet') {
      font-size: $s5-font-size;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: $base-box-shadow;
    }

    &:nth-child(odd) {
      background-color: $color-faded-medium;
    }
  }
}

/*
 * Agro Trade Union
 */
.agro-trade-union {
  @include media-breakpoint('mobile') {
    //display: none;
  }
}
// Swiper
.swiper {
  width: 100%;
  margin-top: 40px;

  .card {
    background-color: $color-white;
    border-radius: unset;
    transition-duration: $animation-duration;

    &:hover {
      transform: scale(1.05);
    }

    @include media-breakpoint('tablet') {
      &__image {
        height: 200px
      }
    }

    &__body {
      width: 100%;

      @include media-breakpoint('tablet') {
        padding: 0;
      }
    }

    &__title {
      color: $color-secondary;

      @include media-breakpoint('tablet') {
        font-size: $h5-font-size;
      }
    }

    &__text {
      font-size: $s6-font-size;
      height: 54px;
      overflow: hidden;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        background-image: linear-gradient( rgba($color-white, 0), $color-white );
      }
    }
  }
}

.swiper-button-next, .swiper-button-prev {
  color: $color-faded-darker;
}

/*
 * Mission
 */
.mission {
  padding-bottom: 0;

 @include element('bg') {
   background: url(/assets/images/drones_on_field.jpg) no-repeat center;
   background-size: cover;
   background-attachment: fixed;
   background-position-y: 100%;
   width: 100%;
   height: 635px;
   position: relative;

   @include media-breakpoint('mobile') {
     background-attachment: unset;
     height: 300px;
   }

   &::after {
     content: '';
     background: rgba(0, 0, 0, 0.4);
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
   }
 }

  @include element('text') {
    margin-bottom: 40px;
  }
}


